{% extends 'layout.html' %}

{% block head %}
    <title>Контакты</title>
{% endblock %}

{% block content %}
<div style="position:relative;overflow:hidden; text-align: center;"><a href="https://yandex.ru/maps/10636/tokyo/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Токио</a><a href="https://yandex.ru/maps/10636/tokyo/?ll=139.773009%2C35.680784&utm_medium=mapframe&utm_source=maps&z=15.76" style="color:#eee;font-size:12px;position:absolute;top:14px;">Префектура Токио — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?ll=139.773009%2C35.680784&z=15.76" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
{% endblock %}